@* Generator: Template *@
@* Namespace: VaBank.UI.Web.Views *@
@inherits VaBank.UI.Web.Views.Index
@inherits VaBank.UI.Web.Views.IndexBase
<!DOCTYPE html>
<html data-ng-app="vabank.webapp" lang="ru">
    <head>
        <title data-ng-bind="title">VaBank - Онлайн</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="shortcut icon" type="image/x-icon" href="/Client/app/images/favicon.ico" /> 
        @Styles()
    </head>
    <body>
        <section id="root" data-ui-view=""></section>
        @ServerInfo()
        @RenderTemplateAsScript("text-field-template", "/Client/app/modules/vabank-ui/templates/forms/text-field.html")
        @RenderTemplateAsScript("checkbox-field-template", "/Client/app/modules/vabank-ui/templates/forms/checkbox-field.html")
        @RenderTemplateAsScript("radio-field-template", "/Client/app/modules/vabank-ui/templates/forms/radio-field.html")
        @Scripts()
    </body>
</html>
